@import url(http://fonts.googleapis.com/css?family=Fjord+One);


body {
	font-family: "Fjord One", "Helvetica Neue";
	font-size: 14px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

#head-title {
	float: left;
	color: #C58672;
	padding-top: 12px;
}

#head-subtitle {
	float: right;
}

#nav {
	margin-left: 356px;
	padding-top: 22px;
}

#nav li {
	display: inline;
}

.container {
	width: 960px;
	margin: 20px auto 0px auto;
}

.content {
	clear: both;
}

