@import url(http://fonts.googleapis.com/css?family=Fjord+One);


body {
	font-family: "Fjord One", "Helvetica Neue";
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 14px;
}

.container {
	width: 960px;
	margin: 20px auto 0px auto;
}


