<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Aengus McMillin, Mac and iOS Developer, Co-Owner of OLLY, College Student, and Someday Musician">

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1 id="head-title">Aengus McMillin</h1>
		<h3 id="head-subtitle">Mac and iOS Developer, Co-Owner of OLLY, College Student, and Someday Musician</h3>

		<ul id="nav">
			<li>About</li>
			<li><a href="portfolio">School Portfolio</a></li>
		</ul>
		{{ content }}
	</div>
</body>
</html>
